@page "/posts/list"
@inherits PageBase

<PageContainer Breadcrumb="bread">
    <Table
           TItem="GetAdminPostDto"
           DataSource="@posts"
           Total="total"
           @bind-PageIndex="page"
           @bind-PageSize="limit"
           OnPageIndexChange="HandlePageIndexChange">
        <Column @bind-Field="@context.Id"></Column>
        <Column @bind-Field="@context.Title"></Column>
        <Column @bind-Field="@context.Url">
            <a>https://localhost:44381/post/@context.Url</a>
        </Column>
        <Column @bind-Field="@context.Tags">
            @foreach (var tag in context.Tags)
            {
                <Tag Color="blue">@tag.Name</Tag>
            }
        </Column>
        <Column @bind-Field="@context.CreatedAt"></Column>
        <ActionColumn Title="Acton">
            <Space Size="middle">
                <SpaceItem>
                    <a>编辑</a>
                </SpaceItem>
                <SpaceItem>
                    <a>删除</a>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
</PageContainer>

@code{
    RenderFragment bread =@<Breadcrumb>
        <BreadcrumbItem>
            <Icon Type="home"></Icon>
        </BreadcrumbItem>
        <BreadcrumbItem>
            <Icon Type="read"></Icon>
            <span>文章管理</span>
        </BreadcrumbItem>
        <BreadcrumbItem>
            <Icon Type="bars"></Icon>
            <span>文章列表</span>
        </BreadcrumbItem>
    </Breadcrumb>;
}