<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <Result Status="500"
                    Title="Sorry, there's nothing at this address."
                    Extra="extra" />
        </LayoutView>
    </NotFound>
</Router>
<AntContainer />
@code
{
    RenderFragment extra =@<Button Type="primary"></Button>;
}