@page "/tools/cdn"
@inherits PageBase

<PageContainer>
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem><Icon Type="cloud"></Icon><span>CDN刷新</span></BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <ChildContent>
        <Card>
            <CardTabs>
                <Tabs Size="@TabSize.Large" DefaultActiveKey="@type" ActiveKey="@type" OnChange="OnTabChange">
                    <TabPane Key="1">
                        <Tab>URL刷新</Tab>
                        <ChildContent>
                            <TextArea Placeholder="输入需要刷新的URL (需要http://或https://)，一行一个" MinRows="10" MaxRows="20" @bind-Value="@urls1" />
                            <br /><br />
                            <Button type="@ButtonType.Primary" OnClick="SubmitAsync">提交并刷新</Button>
                        </ChildContent>
                    </TabPane>
                    <TabPane Key="2">
                        <Tab>目录刷新</Tab>
                        <ChildContent>
                            <TextArea Placeholder="输入需要刷新目录的URL (需要http://或https://)，一行一个" MinRows="10" MaxRows="20" @bind-Value="@urls2" />
                            <br /><br />
                            <Button type="@ButtonType.Primary" OnClick="SubmitAsync">提交并刷新</Button>
                        </ChildContent>
                    </TabPane>
                    <TabPane Key="3">
                        <Tab>URL预热</Tab>
                        <ChildContent>
                            <TextArea Placeholder="输入需要预热的URL (需要http://或https://)，一行一个" MinRows="10" MaxRows="20" @bind-Value="@urls3" />
                            <br /><br />
                            <Button type="@ButtonType.Primary" OnClick="SubmitAsync">提交并预热</Button>
                        </ChildContent>
                    </TabPane>
                </Tabs>
            </CardTabs>
        </Card>
    </ChildContent>
</PageContainer>