@page "/tools/health"
@inherits PageBase

<PageContainer>
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem><Icon Type="check"></Icon><span>健康检查</span></BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <ChildContent>
        <Card>
            <Table TItem="NameValue" DataSource="@data" Loading="isLoading" Bordered=@true HidePagination="true" Size=@TableSize.Small>
                <Column @bind-Field="@context.Name" Title="服务名称" Sortable="false">
                    <Text Strong="true">@context.Name</Text>
                </Column>
                <Column @bind-Field="@context.Value" Title="健康状态" Sortable="false" HeaderColSpan="2"></Column>
                <Column @bind-Field="@context.Value" HeaderColSpan="0">
                    <Badge Status="@(context.Value == "Healthy" ? "processing" : "error")" />
                </Column>
            </Table>
        </Card>
    </ChildContent>
</PageContainer>