<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="个性签名,艺术签名,找工作,当然我在瞎扯,每日热点聚合,每日一文,随机妹子图,随机一猫图,Bing每日壁纸,阿星Plus,qix,api.meowv.com" />
    <meta name="description" content="API.MEOWV.COM-提供艺术签名、找工作、当然我在瞎扯、每日热点聚合、每日一文、随机妹子图、随机一猫图、Bing每日壁纸等在线应用。" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="~/images/qix.png" alt="api.meowv.com" title="阿星Plus" />
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("找工作", "Job", "Home")</li>
                <li>@Html.ActionLink("当然我在瞎扯", "Blog", "Home")</li>
                <li>@Html.ActionLink("每日热点聚合", "News", "Home")</li>
                <li>@Html.ActionLink("每日一文", "Article", "Home")</li>
                <li>@Html.ActionLink("随机妹子图", "Girl", "Home")</li>
                <li>@Html.ActionLink("随机一猫图", "Cat", "Home")</li>
                <li>@Html.ActionLink("每日壁纸", "Bing", "Home")</li>
                <li><a target="_blank" href="http://v.xj8c.cc">VIP电影在线播放</a></li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/art-template/template-web.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    <script>
        var _mtac = {};
        (function () {
            var mta = document.createElement("script");
            mta.src = "//pingjs.qq.com/h5/stats.js";
            mta.setAttribute("name", "MTAH5");
            mta.setAttribute("sid", "500614809");
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(mta, s);
        })();
    </script>
</body>
</html>